:root {
  --primary: #858585;
  --black: #262626;
  --white: #FFF;
  --fuente-principal: 'Golos', sans-serif;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.fondo {
  margin:5rem;
  padding: 3rem;
  height:65vh;
  background-color: #240046;
  border-radius: 30px;
  overflow-y: auto;
}
.fondo::-webkit-scrollbar {
  display: none;
}

body {
  font-size: 2rem;
  font-family: var(--fuente-principal);
  line-height: 1.5;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color:#10002b;
  color: white;
}
img {
  max-width: 100%;
  height: auto;
}
[class*="contenedor"], 
main {
  width: min(95%, 120rem);
  margin: 3rem auto;
}
[class*="heading"] {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  color: var(--primary);
  margin: 5rem 0;
}

.error, 
.error-enlace{
  font-size: 2.4rem;
  text-align: center;margin-top: 5rem;

}

.error-enlace{
  font-size: 1.8rem;
  display: block;
  text-decoration: none;
  color: var(--primary);
}